@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  src:
    url("../fonts/Manrope/Manrope-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  src:
    url("../fonts/Manrope/Manrope-Bold.ttf") format("truetype");
}