/* General
====================================== */
* {
  margin: 0;
}

:root {
  /* Colors */
  --color-1: hsl(217, 19%, 35%);
  --color-2: hsl(214, 17%, 51%);
  --color-3: hsl(212, 23%, 69%);
  --color-4: hsl(210, 46%, 95%); /* color de fondo */
  --color-5: hsl(0, 0%, 100%); /* white*/
  
  /* Font */
  font-family: "Manrope", Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: var(--color-1);
}

.page-body {
  display: flex;
  justify-content: center;
  align-items: baseline;

  padding-top: 75px;

  min-height: 100vh;
  background-color: var(--color-2);
}

img, figure {
  max-width: 100%;
  height: auto;
  margin: 0;
}

.container {
  padding-left: 10%;
  padding-right: 10%;
}

/* Aricle Preview Component
===================================== */
.article-preview {
  width: 100%;
  max-width: 325px;
  /* la altura debe ser de 510px */
   /*max-height: 510px; quitar esto despues de definir los innter elements*/



  border-radius: 8px;
  overflow: hidden;
  background-color: var(--color-5);
}

.article-preview .article-preview__wrapper {
  position: relative;
  padding-top: 157%;
}

.article-preview .article-preview__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--color-5);
}


/* Aricle Preview - Image
===================================== */
.article-preview .article-image {
  /* padding % represent 200px of height relative to parent tag */
  flex-basis: 39.3%;
  overflow: hidden;
  background-color: var(--color-2);
}

.article-preview .article-image__pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 24%;
}

/* Aricle Preview Summary
===================================== */
.article-preview .article-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.article-preview .article-info__summary {
  flex-grow: 1;
  padding-top: 36px;
}

.article-preview .article-info__header {
  margin: 0;
  font-weight: 800;
  line-height: 22px;

  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 3;
}

.article-preview .article-info__pararaph {
  margin-top: 18px;
  letter-spacing: 0.1px;
  line-height: 19px;
  color: var(--color-2);

  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 6;
}


/* Aricle Preview - Author
===================================== */
.article-preview .article-info__author {
  position: relative;
  flex-basis: 70px;
  display: flex;
}

.article-preview .author-image {
  flex-basis: 40px;
  padding-top: 10px;
}

.article-preview .author-image__wrapper {
  position: relative;
  padding-top: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.article-preview .author-image__avatar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
}


.article-preview .author-data {
  flex-grow: 1;
  min-width: 0;
  padding-top: 7px;
  padding-left: 16px;
  padding-right: 16px;
}

.article-preview .author-name {
  display: block;
  font-weight: 800;
  line-height: 26px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article-preview .publishing-date { color: var(--color-3); }

.article-preview .share-options { padding-top: 16px; }

.article-preview .share-options__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--color-4);
}

.article-preview .share-options__icon { transform: translateY(-1px); }


/* Aricle Preview Component - Share
===================================== */
.article-preview .article-info__share-options {
  display: none;
}









/* Atributon
====================================== */
.attribution {

  display: none; /* OJOOOOOOO */


  font-size: 11px;
  text-align: center;
}

.attribution a { color: hsl(228, 45%, 44%); }



/* Media Queries
====================================== */